<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQTT_Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MQTT_Connector.Properties.Settings>
            <setting name="Ping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PingTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="File" serializeAs="String">
                <value>c:\test\VPN_LIST.csv</value>
            </setting>
        </MQTT_Connector.Properties.Settings>
    </applicationSettings>
</configuration>